<body>

    <header>
        <div class="header-logo"></div>
        <div class="header-headline"><span>Kanban Project Management Tool</span></div>
        <div class="header-help"><img src="/assets/img/icon_help.png" alt=""></div>
        <div class="header-user"><img src="/assets/img/icon-test-profil.png" alt=""></div>
    </header>

    <nav>
        <div class="nav-logo">
            <a href="#"><img src="/assets/img/join_logo_light.png"></a>
        </div>

        <div class="nav-menu">
            <div>
                <a href="summary.html"><img id="nav-icon-1" src="/assets/img/icon_vector_summary.png"><span>Summary</span></a>
            </div>
            <div>
                <a href="board.html"><img id="nav-icon-2" src="/assets/img/icon_board.png"><span>Board</span></a>
            </div>
            <div>
                <a href="add_task.html"><img id="nav-icon-3" src="/assets/img/icon_add_task.png"><span>Add Task</span></a>
            </div>
            <div>
                <a href="contacts.html"><img id="nav-icon-4" src="/assets/img/icon_vector_contacts.png"><span>Contacts</span></a>
            </div>
        </div>

        <div class="nav-footer">
            <div>
                <a href="#"><img src="/assets/img/icon_legal_notice.png"><span>Legal notice</span></a>
            </div>
        </div>
    </nav>

</body>

</html>