<img src="assets/img/join_logo_light.png" alt="" />
<div class="nav-container">
  <div onclick="window.location.href= 'summary.html'"><img src="assets/img/icon_vector_summary.png" alt="" /> Summary</div>
  <div onclick="window.location.href= 'add_task.html'"><img src="assets/img/icon_add_task.png" alt="" /> Add Task</div>
  <div onclick="window.location.href= 'board.html'"><img src="assets/img/icon_board.png" alt="" /> Board</div>
  <div onclick="window.location.href= 'contacts.html'"><img src="assets/img/icon_vector_contacts.png" alt="" /> Contacts</div>
</div>
<div class="legal-notice" onclick="window.location.href= 'legal_notice.html'"><img src="assets/img/icon_board.png" alt="" /> Legal Notice</div>
