.task {
    width: 190px;
    margin-top: 30px;
    background-color: white;
    border-radius: 18px;
    padding: 13px;
    font-size: 11px;
    cursor: pointer;
    box-sizing: border-bo;
}

.categoryTask-container {
    height: 30px;
}

.categoryTask {
    display: flex;
    justify-content: center;
    width: 40px;
    padding: 3px 15px;
    color: #ffffff;
    border-radius: 8px;
}

.task-title {
    font-weight: bold;
    padding: 10px 0;
}

.description {
    color: lightgray;
}

.progress {
    height: 20px;
    padding: 15px 0;
}

.my-progress-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 9px;
}

.progress-bar-done {
    display: flex;
}

.progress-container {
    width: 120px;
    height: 5px;
    background-color: rgb(230, 227, 227);
    border-radius: 5px;
    margin: 20px 0;
}

.progress-blue {
    background-color: rgb(0, 98, 255);
    height: 100%;
    width: 0;
    border-radius: 5px;
}

.avatar {
    display: flex;
}

.avatar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.avatar-container img {
    width: 13px;
    height: 10px;
    margin-right: 5px;
}

.prio-icon-medium  {
    width: 17px !important;
    height: 6px !important
}

.prio-icon-low  {
    transform: rotate(-2deg);
}

.color {
    padding: 6px;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    border: 1px white solid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -5px;
    color: #ffffff;
}

